# macOS
.DS_Store

# Icarus Verilog outputs
**/tb/a.out
a.out
**/tb/*.vcd
**/tb/*.lxt

# Assembled test program memory files
**/tb/program.mem
program.mem

# Assembled test outputs
**/tests/asm/*.hex
**/tests/asm/*.o
**/tests/asm/*.asm
